<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../../../assets/images/logo_fps.png" width="230px">
      <a class="navbar-brand m-3" href="home" style="font-size: 20px; font-family: 'Nixie One', cursive;">Simulation Centre</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="foro">¿Dudas?</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="home">Publicaciones</a>
          </li> -->

                <!-- Noticias por categoria -->


          <li class="nav-item dropdown">

            <div class="dropdown">
              <button class="dropbtn nav-link">¿Qué está pasando?</button>
              <div class="dropdown-content">
                <a href="news/science">Ciencia</a>
                <a href="news/health">Salud</a>
                <a href="news/simulation">Mundo de la simulación</a>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="news">¿Qué está pasando?</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="miembros">Integrantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aprende">Aprende con nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="publicar" tabindex="-1" aria-disabled="true">Publicar</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between w-10 text-center">
        <a class="navbar-brand me-2" *ngIf="userLogged|async as user" href="profile/{{user.uid}}">
          <img *ngIf="user.photoURL" src="{{user.photoURL}}" style="border-radius: 60px;" class="d-inline-block align-top" width="30px" height="30px">
          <span class="m-3 text-secondary" style="font-size: medium;">{{user.displayName?user.displayName:user.email}}</span>
        </a>
        <button *ngIf="userLogged|async as user" class="btn btn-outline-success" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </nav>