<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">IAVANTE Community</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Página principal</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">Foros</a>
          </li>
          <li class="nav-item dropdown">

            <div class="dropdown">
              <button class="btn dropbtn nav-link">Noticias</button>
              <div class="dropdown-content">
                <a href="#">Simulación</a>
                <a href="#">Medicina</a>
                <a href="#">Noticias de IAVANTE</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Publicar</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between w-10 text-center">
        <a class="navbar-brand me-2" href="#" *ngIf="userLogged|async as user">
          <img *ngIf="user.photoURL" src="{{user.photoURL}}" style="border-radius: 60px;" class="d-inline-block align-top" width="30px" height="30px">
          <span class="m-3 text-secondary" style="font-size: medium;">{{user.displayName?user.displayName:user.email}}</span>
        </a>
        <button *ngIf="userLogged|async as user" class="btn btn-outline-success" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </nav>