<app-chat></app-chat>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<div class="row mb-3">
    <div class="col-lg-12">
        <h1 *ngIf="question" class="logo mb-5 p-5">Foro cuestiones generales</h1>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <h1 class="title col-8 mb-5">
            <span>*</span>
            <span>*</span>
            {{question.titulo}}
            <span>*</span>
            <span>*</span>
          </h1>
        <div class="col-2"></div>
    </div>
    

    <div #questionDiv class="mx-3">
        <div class="mx-3 mb-5 msg col-11">
            <span class="">

                <span class="msg-header row pb-3">
                    <span class="col-1" style="padding: 0px;">
                        <a class="navbar-brand me-2" href="profile/{{userQuestion.uid.stringValue}}" *ngIf="userLogged|async as user">
                            <img src="{{userQuestion.photo.stringValue}}" class="msg-img" alt="" data-loaded="true" width="60px" height="60px">
                        </a>
                    </span>
                    <div class="msg-user-data col-11 row justify-content-between pt-3" style="align-items: center;">
                        <span class="msg-username col-3">
                            <a href="profile/{{userQuestion.uid.stringValue}}" class="" style="text-decoration: none;font-size: 16px; color: rgba(0, 0, 0, 0.627);">{{userQuestion.fullName.stringValue}}</a>
                        </span>
                        <span class="col-3" style="text-align: right;">
                            <span class="hace" style="font-size: 12px;">{{question.fechaCreacionFormat}}</span>
                            <span class="interactions">
                            </span>
                        </span>
                    </div>
                </span>


                <!-- <span class="msg-header row">
                    <p class="col-3" style="padding: 0px;">
                        <a class="navbar-brand mr-2 my-auto" href="profile/{{userQuestion.uid.stringValue}}" *ngIf="userLogged|async as user">
                            <img src="{{userQuestion.photo.stringValue}}" class="msg-img" alt="" data-loaded="true" width="80px" height="80px">
                            <span class="m-3 text-secondary" style="font-size: medium;">{{userQuestion.fullName.stringValue?userQuestion.fullName.stringValue:userQuestion.email.stringValue}}</span>
                        </a>
                    </p>
                    <div class="col-3"></div>                        
                    <div class="msg-user-data col-6 row justify-content-between pt-3" style="align-items: center;">
                        <span style="text-align: right;">
                            <span class="hace" style="font-size: 12px;">{{question.fechaCreacionFormat}}</span>
                        </span>
                    </div>
                </span> -->
                <hr>
            </span>
            <div class="question-content p-3">
                <div *ngIf="question" class="col-lg-12">
                    <p class="mb-3 p-1">{{question.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<!-- -----------------------------RESPONSES------------------------------------ -->
<div #commentsDiv>
    <div *ngFor="let comment of comments" class="mx-5 mb-5 msg w-75">
        <app-forum-response [comment]="comment"></app-forum-response>
    </div>
</div>

<!-- -----------------------------RESPONSES------------------------------------ -->

<app-forum-comment [questionId]='idQuestion' [divComments]='commentsDiv'></app-forum-comment>