<app-chat></app-chat>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<div class="row mb-3">
    <div class="col-lg-12">
        <h1 *ngIf="question" class="logo mb-5 p-5">Foro cuestiones generales</h1>
    </div>

    <div class="col-1"></div>
    <div class="col-1">
        <div class="d-flex justify-content-between w-10 text-center">
            <a class="navbar-brand me-2" href="#" *ngIf="userLogged|async as user">
              <img *ngIf="user.photoURL" src="{{user.photoURL}}" style="border-radius: 60px;" class="d-inline-block align-top" width="30px" height="30px">
              <span class="m-3 text-secondary" style="font-size: medium;">{{user.displayName?user.displayName:user.email}}</span>
            </a>
          </div>
    </div>
    <div *ngIf="question" class="col-lg-9">
        <p>{{question.titulo}}</p>
        <hr>
        <p class="mb-5 p-5">{{question.descripcion}}</p>
    </div>
    <div class="col-1"></div>
</div>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<!-- -----------------------------RESPONSES------------------------------------ -->

<div class="mx-3 mb-5 msg w-75">
    <span class="">
        <span class="msg-header row">
            <span class="col-1">
                <a class="navbar-brand me-2" href="perfil/usuario" *ngIf="userLogged|async as user">
                    <img *ngIf="user.photoURL" src="{{user.photoURL}}" class="msg-img" alt="" data-loaded="true">
                </a>
            </span>
            <div class="msg-user-data col-11 row justify-content-between pt-3" style="align-items: center;">
                <span class="msg-username col-3">
                    <a href="perfil/usuario" class="" style="text-decoration: none;font-size: 16px; color: rgba(0, 0, 0, 0.627);">Jaimito Butifarras</a>
                </span>
                <span class="col-3" style="text-align: right;">
                    <span class="hace" style="font-size: 12px;" data-time="1689016863">Hace 16 horas</span>
                    <span class="nw vam">
                        <!-- <span class="ico_msg_mp"></span>
                        <span class="ico_msg_ocultar"></span>
                        <span class="ico_msg_mod"></span> -->
                    </span>
                </span>
            </div>
            </span>
            <hr>
        </span>
        <div class="msg-content p-3">
            <span class=""></span>
            <span class="" id="2"></span>
            <pre class="">Horizon Forbiden West</pre>
            <span class="">
                <span class="" id="usu_votos_2">
                    <span class="p" onclick="ver_votos(54275910)">
                        <b>4</b> Votos 
                    </span>
                    <span class="mx-2" onclick="voto_positivo()">
                        <i class="fa-regular fa-thumbs-up"></i> 
                    </span>
                    <span class="mx-2" onclick="voto_negativo()">
                        <i class="fa-regular fa-thumbs-down"></i>
                    </span>
                </span>
                <span class="cb db"></span>
            </span>
        </div>
</div>


<!-- -----------------------------RESPONSES------------------------------------ -->


<app-forum-comment></app-forum-comment>