<app-chat></app-chat>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<div class="row mb-3">
    <div class="col-lg-12">
        <h1 *ngIf="question" class="logo mb-5 p-5">Foro cuestiones generales</h1>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <h1 class="title col-8 mb-5">
            <span>*</span>
            <span>*</span>
            {{question.titulo}}
            <span>*</span>
            <span>*</span>
          </h1>
        <div class="col-2"></div>
    </div>
    

    <div #questionDiv class="mx-3">
        <div class="mx-3 mb-5 msg col-11">
            <span class="">
                <span class="msg-header row">
                    <span class="col-1">
                        <a class="navbar-brand me-2" href="perfil/usuario" *ngIf="userLogged|async as user">
                            <img *ngIf="user.photoURL" src="{{user.photoURL}}" class="msg-img" alt="" data-loaded="true">
                            <span class="m-3 text-secondary" style="font-size: medium;">{{user.displayName?user.displayName:user.email}}</span>
                        </a>
                    </span>
                    <div class="msg-user-data col-11 row justify-content-between pt-3" style="align-items: center;">
                    <div class="col-1"></div>                        
                        <span class="col-3" style="text-align: right;">
                            <span class="hace" style="font-size: 12px;">{{question.fechaCreacionFormat}}</span>
                        </span>
                    </div>
                </span>
                <hr>
            </span>
            <div class="question-content p-3">
                <div *ngIf="question" class="col-lg-12">
                    <p class="mb-3 p-1">{{question.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<!-- -----------------------------RESPONSES------------------------------------ -->
<div #commentsDiv>
    <div *ngFor="let comment of comments" class="mx-5 mb-5 msg w-75">
        <app-forum-response [comment]="comment"></app-forum-response>
    </div>
</div>

<!-- -----------------------------RESPONSES------------------------------------ -->

<app-forum-comment [questionId]='idQuestion' [divComments]='commentsDiv'></app-forum-comment>