<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mx-auto">

        <div class="box1 box" *ngIf="userLogged|async as user">
        <form [formGroup]="userForm">
          <div class="content">
            <div class="image">
              <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Profile Image">
            </div>
            <div class="level">
                <!-- <input class="form-control" formControlName> -->
              <p>ADMIN</p>
            </div>
            <div class="text">
                <div class="d-flex m-3">
                    <input class="form-control mr-3" placeholder="Nombre completo" formControlName="realName" [readonly]="this.formEdit.username"><i class="fa fa-edit my-auto" style="margin-left: 1rem;"></i>
                </div>
                <div class="d-flex m-3">
                    <input class="form-control mr-3" placeholder="Nombre de usuario" formControlName="userName" [readonly]="this.formEdit.username"><i class="fa fa-edit my-auto" style="margin-left: 1rem;"></i>
                </div>
              <div class="d-flex m-3">
                <input class="form-control" placeholder="Profesión" formControlName="userJob" [readonly]="this.formEdit.job"><i class="fa fa-edit my-auto" style="margin-left: 1rem;"></i>
              </div>
              <div class="d-flex m-3">
                <input class="form-control" placeholder="Datos de interés" formControlName="userDesc" [readonly]="this.formEdit.desc"><i class="fa fa-edit my-auto" style="margin-left: 1rem;"></i>
              </div>
            </div>
            <div class="icons">
              <button>
                <i class="fa fa-instagram" href="user.instagram"></i>
              </button>
              <button>
                <i class="fa fa-twitter" href="user.twitter"></i>
              </button>
              <button>
                <i class="fa fa-linkedin" href="user.linkedin"></i>
              </button>
              <button>
                <i class="fa fa-facebook" href="user.facebook"></i>
              </button>
            </div>
            <div class="button">
              <div>
                <button class="message" type="button">Abrir chat</button>
              </div>
            </div>
          </div>
        </form>
        </div>
      
        <!-- <div class="box2 box">
          <div class="content">
            <div class="row">
              <div class="image">
                <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Profile Image">
              </div>
              <div class="post">
                <p>Post</p>
                <h5>28</h5>
              </div>
              <div class="followers">
                <p>Followers</p>
                <h5>678</h5>
              </div>
              <div class="following">
                <p>Following</p>
                <h5>120</h5>
              </div>
            </div>
            <div class="text">
              <p class="name">{{user.displayName}}</p>
              <p class="job_title">UI / UX Designer</p>
              <p class="about">About</p>
              <p class="job_discription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, placeat obcaecati. Eaque fugit eveniet error voluptates totam enim molestias vitae, amet aliquid deleniti ipsa ea.</p>
            </div>
          </div>
        </div> -->
      
    </div>
    <div class="col-3"></div>

</div>
  
<app-chat></app-chat>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>