<app-navbar></app-navbar>

<!-- <app-chat></app-chat> -->


<div class="row" *ngIf="(userLogged | async)?.uid  === userId">
  
  <div class="col-lg-12">
    <h1 class="logo mb-5 p-5">Tu perfil</h1>
  </div>

  <app-profile-data class="col-xl-12 col-md-12" [$userLogged]="userLogged"></app-profile-data>

  <div class="col-lg-12">
    <h1 class="logo mb-5 p-5">Tu actividad</h1>
  </div>

  <app-profile-table class="col-xl-12 col-md-12 px-5" [$userLogged]="userLogged"></app-profile-table>

</div>

<div class="row" *ngIf="(userLogged | async)?.uid  !== userId">

  <app-other-profile [$user]="user" [$userLogged]="userLogged"></app-other-profile>

</div>
  
<!-- <app-chat></app-chat> -->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>