<div class="row">

  <div class="col-lg-12">
    <h1 class="logo mb-5 p-5">Modifica tu perfil</h1>
  </div>

    <div class="col-6 row justify-content-center mb-auto mt-5">

        <div class="box1 box" *ngIf="userLogged|async as userLog">
        <form><!-- [formGroup]="userForm" -->
          <div class="content">
            <div class="image">
              <img src="{{user.photo.stringValue}}" style="max-height: 120px;">
            </div>
            <div class="level">
                <!-- <input class="form-control" formControlName> -->
              <p>{{user.role}}</p>
            </div>
            <div class="text">
                <div class="d-flex m-3" style="font-size: 20px;">
                  <p>{{user.fullName.stringValue}}</p>  
                </div>
                <div class="d-flex m-3" style="font-size: 16px;">
                  <p>@{{user.username.stringValue}}</p>
                </div>
              <div class="d-flex m-3" style="font-size: 16px;">
                  <p>{{user.proffesion.stringValue}}</p>
              </div>
            </div>
            <div class="icons">
              <button>
                <a class="fa fa-instagram" style="text-decoration: none;color: black;" href="{{user.instagram.stringValue}}"></a>
              </button>
              <button>
                <i class="fa fa-twitter" href="user.twitter"></i>
              </button>
              <button>
                <i class="fa fa-linkedin" href="user.linkedin"></i>
              </button>
              <button>
                <i class="fa fa-facebook" href="user.facebook"></i>
              </button>
            </div>
            <div class="button">
              <div>
                <button class="message" type="button">Abrir chat</button>
              </div>
            </div>
          </div>
        </form>
        </div>

    </div>
    <div class="col-6 row">

      <div class="col-1"></div>
      <div class="container col-10 m-5">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title m-3">Registro</h5>
            </div>
            <div class="card-body p-4 row">

              <div class="col-2"></div>

              <div class="col-8">

                <label style="float: left;;margin-bottom: 1em;">Nombre de usuario:</label>
                <input class="form-control my-3" type="text" placeholder="Nombre de usuario" #username  [(ngModel)]="userForm.username">
                
                <label style="float: left;;margin-bottom: 1em;">Nombre completo:</label>
                <input class="form-control my-3" type="text" placeholder="Nombre completo" #fullName  [(ngModel)]="userForm.fullName">
                
                <label style="float: left;;margin-bottom: 1em;">Profesión:</label>
                <input class="form-control my-3" type="text" placeholder="Profesión" #proffesion  [(ngModel)]="userForm.proffesion">
                
              </div>

                <div class="col-2"></div>
                
                <hr>

                <div class="col-1"></div>

                <div class="col-10 my-3">
                <div class="row mb-3">
                  <div class="col-6 p-2">
                      <label style="float: left;;margin-bottom: 1em;">Foto:</label>
                      <input class="form-control my-3" type="file" (change)="imagePreview($event)" placeholder="Foto de perfil" #photo  [(ngModel)]="userForm.photo">    
                  </div>
                  <div class="col-6 p-2">
                      <label style="float: left;;margin-bottom: 1em;">Fecha  de nacimiento</label>
                      <input class="form-control my-3" type="date" #age  [(ngModel)]="userForm.age">
                  </div>
                </div>
              </div>

                <div class="col-1"></div>


                <hr>

                <div class="col-2"></div>

                <div class="col-8 my-3">
                  <label style="float: left;;margin-bottom: 1em;">Instagram:</label>
                  <input class="form-control my-3" type="text" placeholder="Instagram" #fullName  [(ngModel)]="userForm.instagram">
                  <label style="float: left;;margin-bottom: 1em;">Twitter:</label>
                  <input class="form-control my-3" type="text" placeholder="Twitter" #fullName  [(ngModel)]="userForm.twitter">
                  <label style="float: left;;margin-bottom: 1em;">Facebook:</label>
                  <input class="form-control my-3" type="text" placeholder="Facebook" #fullName  [(ngModel)]="userForm.facebook">
                  <label style="float: left;;margin-bottom: 1em;">LinkedIn:</label>
                  <input class="form-control my-3" type="text" placeholder="LinkedIn" #fullName  [(ngModel)]="userForm.linkedin">
                </div>
                <div class="col-2"></div>

                    
            <div class="row mx-3">
                <div class="col-3"></div>
                <button class="text-white btn btn-primary mb-3 col-6" (click)="updateProfile()">Actualizar perfil</button>
                <div class="col-3"></div>
              </div>
            </div>
        </div>
    </div>
    </div>

</div>
  
<app-chat></app-chat>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>