<div class="row justify-content-end">
    <div class="col-10"></div>
    <div onclick="likePost()" class="col-1"><i class="fa fa-heart"></i></div>
    <div onclick="bookmarkPost()" class="col-1"><i class="fa fa-bookmark"></i></div>
    <!-- <div class="post-user col-4">
        <img *ngIf="post.user.photoURL" src="{{post.user.photoURL}}" style="border-radius: 60px;" class="d-inline-block align-top" width="30px" height="30px">
        <span class="m-3 text-secondary" style="font-size: medium;">{{post.user.displayName?post.user.displayName:post.user.email}}</span>
    </div> -->
</div>