<app-parallax></app-parallax>

<!-- <app-chat></app-chat> -->

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="logo mb-5 p-5">Últimas publicaciones</h1>
        </div>

        <div class="col-1"></div>

        <div class="col-10 mt-3" id="posts">
            <ul style="list-style: none;padding:0px;" class="mx-auto">
                <li *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p}">
                    <app-post [post]="post"></app-post>
                </li>
                <pagination-controls class="mt-3" (pageChange)="p = $event"></pagination-controls>
            </ul>
        </div>
        
        <div class="col-1"></div>

    </div>
</div>