<app-navbar></app-navbar>

<app-parallax></app-parallax>

<app-chat></app-chat>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="logo mb-1 p-5">Últimas novedades</h1>
        </div>

        <div class="col-lg-12 row soft-white" style="justify-content: right;">
            <button class="col-6 btn p-3 nav-elem" (click)="load('news')">Novedades</button>
            <button class="col-6 btn p-3 nav-elem" (click)="load('posts')">Publicaciones</button>
        </div>

        <div class="row mt-3">
            <app-post-news class="col-9" *ngIf="dir==='news'"></app-post-news>

            <app-follows class="col-9" *ngIf="dir==='posts'" [posts]='followedPosts'></app-follows>
                    
            <app-calendar [$user]="userLogged" class="col-3"></app-calendar>
        </div>
    </div>
</div>