.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-title {
    font-size: 26px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #808080;
    letter-spacing: 5px;
    font-size: xx-large;
}