<app-parallax></app-parallax>
<div class="container row mx-auto" style="margin-top: -8rem;">
    <div class="col-3"></div>
    <div class="col-6 card text-center" style="padding-left: 0px;padding-right: 0px;">
        <div class="card-header">
            <h5 class="card-title p-3 login-title">INICIAR SESIÓN</h5>
        </div>
        <div class="card-body p-5">
        
            <label style="float: left;margin-bottom: 1em;">Email:</label>
            <input class="form-control my-3" type="text" placeholder="Email" #email [(ngModel)]="usuario.email">

            <label style="float: left;;margin-bottom: 1em;">Contraseña:</label>
            <input class="form-control my-3" type="password" placeholder="Contraseña" #password  [(ngModel)]="usuario.password">
            
            <div class="row justify-content-center">
                <a class="btn btn-primary ml-2 mb-2 mt-2 col-9" (click)="login()">Acceder</a>
                <button class="btn btn-light m-2 col-2" (click)="loginGoogle()">
                    <i class="fa-brands fa-google"></i>
                </button>
            </div>

        <p>¿Aún no tienes cuenta? <a href="#/register">Registrarse</a></p>
        </div>

        <!-- <div class="row mx-3">
            <button class="text-white btn btn-info mb-3 col-5" (click)="userInfo()">Usuario logueado</button>
            <div class="col-2"></div>
            <button class="text-white btn btn-info mb-3 col-5" (click)="logout()">Salir</button>
        </div> -->
    </div>
    <div class="col-3"></div>

</div>
