<app-parallax></app-parallax>
<div class="container row mx-auto my-3" style="margin-top: -8rem;height: fit-content !important;">
    <div class="col-xl-3"></div>
    <div class="col card text-center m-3" style="padding-left: 0px;padding-right: 0px;">
        <div class="card-header">
            <h5 class="card-title p-3 login-title">INICIAR SESIÓN</h5>
        </div>
        <div class="card-body p-3">
        
            <label style="float: left;margin-bottom: 1em;">Email:</label>
            <input class="form-control my-3" type="text" placeholder="Email" #email [(ngModel)]="usuario.email">

            <label style="float: left;;margin-bottom: 1em;">Contraseña:</label>
            <input class="form-control my-3" type="password" placeholder="Contraseña" #password  [(ngModel)]="usuario.password">
            
            <div class="row mx-3">
                <div class="col-xl-3"></div>
                <a class="text-white btn btn-primary my-3 p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6" (click)="login()">Acceder</a>
                <div class="col-xl-3"></div>
            </div>

        <p>¿Aún no tienes cuenta? <a href="#/register">Registrarse</a></p>
        </div>
    </div>
    <div class="col-xl-3"></div>

</div>
