<div class="container">
  <div
      class="slide"
      style="background-image: url('https://images.unsplash.com/photo-1541348263662-e068662d82af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fGNhcnN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');"
  >
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1565043666747-69f6646db940?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fGNhcnN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
        "
  >
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1569240651738-2c9ec2f50f42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGNhcnN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
        "
  >
  </div>
  <div
      class="slide active"
      style="
          background-image: url('https://images.unsplash.com/photo-1542705959-878ca346eb20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGNhcnN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
        "
  >
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1614040940611-a0ebb66b32b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTU1fHxjYXJzfGVufDB8fDB8fHww&w=1000&q=80');
        "
  >
  </div>
</div>