<div class="container">
    <div class="card w-25 text-center" style="position: fixed; bottom: 2em; right: 2em;">
        <div class="card-header d-inline-flex">
            <i class="fa-regular fa-message m-2"></i>
            <h5 class="card-title">Chat</h5>
        </div>
        <div class="card-body p-4">
        
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-3">
                Enviar
            </button>
        </div>

    </div>
</div>
