
    <div class="card text-center" style="width: 30%; position: fixed; bottom: 0.5rem; right: 0.5rem;" [ngClass]="mostrar ? 'card w-25 text-center mostrar' : 'ocultar'">
        <div class="card-header d-inline-flex justify-content-center w-100" (click)="mostrarChat()">
            <i class="fa-regular fa-message m-2"></i>
            <h5 class="card-title">CHAT</h5>
        </div>
        <div class="card-body p-3" style="max-height: 320px;overflow: auto;"  *ngIf="usuarioLogueado">
            <div>
                <div *ngFor="let mensaje of mensajes" 
                [ngClass]="(usuarioLogueado.uid==mensaje.emisor)?'justify-content-end':'justify-content-start'"
                class="d-inline-flex w-100">

                    <p class="p-2" style="margin-bottom: .4rem !important;"
                        [ngClass]="(usuarioLogueado.uid==mensaje.emisor)?'enviado':'recibido'">
                        {{mensaje.texto}}
                    </p>
                    <img 
                    [ngClass]="(usuarioLogueado.uid==mensaje.emisor)?'enviado':'recibido'"
                    *ngIf="usuarioLogueado.photoURL && usuarioLogueado.uid == mensaje.emisor" src="{{usuarioLogueado.photoURL}}" 
                    style="border-radius: 60px;" class="d-inline-block align-top chatPhoto m-1" 
                    width="30px" height="30px">
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" style="font-size: 12px;" placeholder="Escribe un mensaje..." aria-describedby="basic-addon2" #mensaje>
                <div class="input-group-append d-flex">
                  <span class="input-group-text text-secondary" style="font-size: 12px;" id="basic-addon2">
                    <i class="fa-solid fa-arrow-right send-photo m-2" (click)="enviarMensaje()"></i>
                </span>
                </div>
              </div>
        </div>
    </div>

<div>
    <i class="fa-solid fa-arrow-right send-photo" [ngClass]="mostrar ? 'ocultar' : 'mostrar chatButton fa-solid fa-comment send-photo'" (click)="mostrarChat()"></i>
</div>

