<div class="row" id="posts">

    <div class="d-flex green-bomba">
        <h5 class="mx-auto my-3 montserrat">Últimas novedades</h5>
    </div>

    <div>
        <div>
            <div class="row post-new">
                <div class="col-xl-2 col-lg-1"></div>
                <div class="row d-flex post col">
                    <div class="col-12" style="padding-left: 0px;">
                        <img class="w-100 post-image" src="../../../assets/images/iavante-baeza.jpg" width="346px" height="100%">
                    </div>
    
                    <div class="post-content col-12 p-3 row">
                        <div class="col-12 row">
                            <h1 class="new-title">
                                ¡Bienvenido a nuestra comunidad de simulación!
                            </h1>
                        </div>
                            
                        <hr>
                        <div class="col-12 new-content">
                            <p>¡Bienvenido a nuestra plataforma virtual!, desde aquí trataremos de colaborar entre todos, contando contigo.</p>
                            <p>Para sacarle el mayor partido a nuestra web, echa un vistazo a nuestros <b>miembros</b> y <b>sigue</b> a los que te interesen, incluso puedes ponerte en contacto con quien quieras.</p>
                            <p>Tambien puedes participar en nuestro foro si necesitas ayuda sobre temas de <b>simulación clínica o de medicina</b>, o simplemente compartir tus experiencias.</p>
                            <p>Puedes subir el contenido que creas necesario para compartirlo con tus contactos, mantenerte informado de las últimas <b>noticias</b> del mundo de la simulación y tambien estar al tanto de nuestros cursos o charlas con nuestros ponentes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1"></div>
    
            </div>
        </div>
    
        <div>
            <div class="my-3 row post-new">
                <div class="col-xl-2 col-lg-1"></div>
                <div class="row d-flex post col">
                    <div class="col-12" style="padding-left: 0px;">
                        <img class="w-100 post-image" src="../../../assets/images/hugito.jpg" width="346px" height="100%">
                    </div>
    
                    <div class="post-content col-12 p-3 row">
                        <div class="col-12 row">
                            <h1 class="new-title">
                                ¿Qué hacemos en nuestro centro?
                            </h1>
                        </div>
                            
                        <hr>
                        <div class="col-12 new-content">
                            <p>¡Bienvenido a nuestra plataforma virtual!, desde aquí trataremos de colaborar entre todos, contando contigo.</p>
                            <p>Para sacarle el mayor partido a nuestra web, echa un vistazo a nuestros <b>miembros</b> y <b>sigue</b> a los que te interesen, incluso puedes ponerte en contacto con quien quieras.</p>
                            <p>Tambien puedes participar en nuestro foro si necesitas ayuda sobre temas de <b>simulación clínica o de medicina</b>, o simplemente compartir tus experiencias.</p>
                            <p>Puedes subir el contenido que creas necesario para compartirlo con tus contactos, mantenerte informado de las últimas <b>noticias</b> del mundo de la simulación y tambien estar al tanto de nuestros cursos o charlas con nuestros ponentes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1"></div>
    
            </div>
        </div>
    </div>
</div>