<app-parallax></app-parallax>

<app-chat></app-chat>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h1 class="logo mb-5 p-5">{{post.titulo}}</h1> -->
        </div>

        <div class="col-1"></div>

        <div class="col-10 my-3">

            <img class="w-100 post-image" src="{{post.photo}}" width="346px">

            <div class="row d-flex">
                <div class="post-content col-12 p-3 row">
                    <app-like-bookmark></app-like-bookmark>
                    <div class="col-12">
                        <h1 style="font-size: 34px;text-decoration: none;color: black;">
                            {{post.titulo}}
                        </h1>
                        <div class="mb-3">
                            {{post.categoria}}
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <p>{{post.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-1"></div>

    </div>
</div>