<app-navbar></app-navbar>

<app-chat></app-chat>

<!-- ----------------------------MAIN QUESTION----------------------------------- -->

<div class="soft-white pb-3" *ngIf="userLogged | async as user">
    <div class="row mb-3" *ngIf="$questionSubscription | async as question">
        <div class="col-lg-12">
            <h1 class="logo mb-5 p-5">Foro cuestiones generales</h1>
        </div>
    
        <div class="row">
            <div class="col-2"></div>
            <h1 class="title col-8 mb-5">
                <span>*</span>
                <span>*</span>
                {{question.title}}
                <span>*</span>
                <span>*</span>
                </h1>
            <div class="col-2"></div>
        </div>
        
    
        <div #questionDiv class="mx-3">
            <div class="mx-3 mb-5 msg col-11">
                <span class="">
    
                    <span class="msg-header row pb-3">
                        <span class="col-1" style="padding: 0px;">
                            <a class="navbar-brand me-2" href="#/profile/{{question.user_id}}">
                                <img src="{{question.userImage}}" class="msg-img" alt="" data-loaded="true" width="60px" height="60px">
                            </a>
                        </span>
                        <div class="msg-user-data col-11 row justify-content-between pt-3" style="align-items: center;">
                            <span class="msg-username col-3">
                                <a href="#/profile/{{question.user_id}}" class="" style="text-decoration: none;font-size: 16px; color: rgba(0, 0, 0, 0.627);">{{question.fullname}}</a>
                            </span>
                            <div class="col-3"></div>
                            <span class="col-4" style="text-align: right;">
                                <span class="hace" style="font-size: 12px;">{{question.created_at | date:'short'}}</span>
                                <span class="interactions">
                                </span>
                            </span>
                            <label (click)="myDialog.show()" class="col-2" for="selectStatus">
                                    <span *ngIf="question.status==0" class="px-1 my-auto" style="font-size: 13px;color: #575757;">Pregunta cerrada</span>
                                    <span *ngIf="question.status==1" class="px-1 my-auto" style="font-size: 13px;color: #575757;">Pregunta abierta</span>
                                    <span *ngIf="question.status==2" class="px-1 my-auto" style="font-size: 13px;color: #575757;">Pregunta resuelta</span>
                                    <i class="fa-solid" 
                                    [ngClass]="{
                                                'fa-lock red': question.status === 0,
                                                'fa-lock-open green': question.status === 1,
                                                'fa-circle-check green': question.status === 2,
                                                }"
                                    style="font-size: 13px;"></i>
                            </label>
                        </div>
                    </span>
    
                    <hr>
                </span>
                <div class="question-content p-3">
                    <div class="col-lg-12">
                        <p class="mb-3 p-1">{{question.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------- DIALOG ------------------------------------- -->

    <dialog #myDialog id="myDialog" class="dialog mx-auto">
        <div class="row">
            <div class="d-flex">
                <h2 class="pb-3 mx-auto text-center">Cambiar estado</h2>
                <i class="fa-solid fa-xmark" (click)="myDialog.close()"></i>
            </div>
            <hr>
            <select class="form-control p-3 my-3" #selectStatus>
                <option value="1">Abrir pregunta</option><!--&#xf3c1;-->
                <option value="0">Cerrar pregunta</option><!--&#xf023;-->
                <option value="2">Marcar como resuelta</option><!--&#xf058;-->
            </select>
    
           <button class="btn green-bomba" (click)="changeStatus(selectStatus.value)">
               Confirmar
            </button>
        </div>
    </dialog>
    
    <!-- ----------------------------MAIN QUESTION----------------------------------- -->
    
    <!-- -----------------------------RESPONSES------------------------------------ -->
    
    <div class="row">
        <div class="col-7 mx-5 mb-5">
            <div *ngFor="let comment of $commentsSub | async as comments" class="msg mb-3">
                <app-forum-response [comment]="comment" [userLogged]='user'></app-forum-response>
            </div>
        </div>
        
        <div class="col-4" *ngIf="$questions | async as questions">
            <app-top-questions [questions]="questions"></app-top-questions>
        </div>
    </div>
    
    <!-- -----------------------------RESPONSES------------------------------------ -->
</div>

<app-forum-comment [questionId]='idQuestion' [userLogged]='userLogged | async' [type]='type'></app-forum-comment>