<div class="box2 box mx-auto patternBG">
    <div class="bg-soft" style="margin-top: 4rem;padding-right: 0px!important;padding-left: 0px!important;">
      <div class="row">
        <div class="image">
          <a href="#/profile/{{user.uid}}">
            <img src="{{user.url}}" style="max-height: 100px;" height="100px" width="120px" alt="Profile Image">
          </a>
        </div>
        <div class="row">
          <div class="post col-4">
            <p>Posts</p>
            <h5>{{user.posts}}</h5>
          </div>
          <div class="followers col-4">
            <p>Followers</p>
            <h5>{{followers}}</h5>
          </div>
          <div class="following col-4">
            <p>Following</p>
            <h5>{{following}}</h5>
          </div>
        </div>              
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="button my-0">
            <div *ngIf="user.uid !== userLogged.uid">
              <button *ngIf="followed" class="message" style="margin-right: .75rem;" type="button" (click)="followUser(user.uid)">Dejar de seguir</button>
              <button *ngIf="!followed" class="message" style="margin-right: .75rem;" type="button" (click)="followUser(user.uid)">Seguir</button>
            </div>
          </div>
        </div>
        <div class="col-3"></div>

        <!-- <div class="col-6">
          <div class="button my-0">
            <div>
              <button class="message" style="margin-right: .75rem;" type="button">Abrir chat</button>
            </div>
          </div>
        </div> -->
      </div>
      <div class="text">
        <div class="row">
            <div class="col-12">
                <p class="name text-center">{{user.fullname}}</p>
            </div>
            <div class="col-8">
              <p class="job_title">{{user.proffesion}}</p>
            </div>
            <div class="col-4">
              <p class="job_title">@{{user.username}}</p>
            </div>
        </div>
        <div *ngIf="user.description">
          <p class="about">About</p>
          <p class="job_discription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, placeat obcaecati. Eaque fugit eveniet error voluptates totam enim molestias vitae, amet aliquid deleniti ipsa ea.</p>
        </div>
      </div>
      <div class="icons">
        <button>
          <a class="fa fa-instagram" style="text-decoration: none;color: black;" href="{{user.instagram}}"></a>
        </button>
        <button>
          <a class="fa fa-twitter" style="text-decoration: none;color: black;" href="{{user.twitter}}"></a>
        </button>
        <button>
          <a class="fa fa-linkedin" style="text-decoration: none;color: black;" href="{{user.linkedin}}"></a>
        </button>
        <button>
          <a class="fa fa-facebook" style="text-decoration: none;color: black;" href="{{user.facebook}}"></a>
        </button>
      </div>
    </div>
</div>