<div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="{{user.url}}" width="200" alt="Profile Image">
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{user.fullname}}</h3>
        <div class="address">
          <p id="state" class="state">{{user.proffesion}}</p>
        </div>
        <div class="addres">
          <p id="country" class="country">{{user.jobCentre}}</p>
        </div>
  
      </div>
      <!-- <div class="profile-option">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">3</span>
        </div>
      </div> -->
    </div>
  
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="mobile-no"><i class="fa fa-user"></i>{{user.username}}</p>
          <p class="mobile-no"><i class="fa fa-phone"></i>{{user.location}}</p>
          <p class="user-mail" style="font-size: 12px;"><i class="fa fa-envelope"></i>{{user.email}}</p>
          <div class="user-bio">
            <h3>Sobre mí</h3>
            <p class="bio">
                {{user.description}}
            </p>
          </div>
          <div class="profile-btn">
            <button *ngIf="followed" class="createbtn" (click)="unfollowUser()" style="font-size: 14px;"><i class="fa fa-plus"></i>Dejar de seguir</button>
            <button *ngIf="!followed" class="createbtn" (click)="followUser()"><i class="fa fa-plus"></i>Seguir</button>
            <button class="chatbtn" id="chatBtn"><i class="fa fa-comment"></i>Chat</button>
          </div>
          <!-- <div class="user-rating">
            <h3 class="rating">4.5</h3>
            <div class="rate">
              <div class="star-outer">
                <div class="star-inner">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <span class="no-of-user-rate"><span>123</span>&nbsp;&nbsp;reviews</span>
            </div>
  
          </div> -->
        </div>
  
      </div>
      <div class="right-side">
  
        <div class="nav">
          <ul>
            <li onclick="tabs(0)" class="user-post active">Publicaciones</li>
            <li onclick="tabs(1)" class="user-review">Preguntas</li>
          </ul>
        </div>
        <div class="profile-body">
          <div class="profile-posts tab">
            <h1>Your Post</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quia sunt itaque ut libero cupiditate ullam qui velit laborum placeat doloribus, non tempore nisi ratione error rem minima ducimus. Accusamus adipisci quasi at itaque repellat sed
              magni eius magnam repellendus. Quidem inventore repudiandae sunt odit. Aliquid facilis fugiat earum ex officia eveniet, nisi, similique ad ullam repudiandae molestias aspernatur qui autem, nam? Cupiditate ut quasi iste, eos perspiciatis maiores
              molestiae.</p>
          </div>
          <div class="profile-reviews tab">
            <h1>User reviews</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam pariatur officia, aperiam quidem quasi, tenetur molestiae. Architecto mollitia laborum possimus iste esse. Perferendis tempora consectetur, quae qui nihil voluptas. Maiores debitis
              repellendus excepturi quisquam temporibus quam nobis voluptatem, reiciendis distinctio deserunt vitae! Maxime provident, distinctio animi commodi nemo, eveniet fugit porro quos nesciunt quidem a, corporis nisi dolorum minus sit eaque error
              sequi ullam. Quidem ut fugiat, praesentium velit aliquam!</p>
          </div>
        </div>
      </div>
    </div>
  </div>