<app-navbar></app-navbar>

<app-chat></app-chat>

<div class="d-flex justify-content-center flex-wrap mt-5">
    <ul *ngFor="let user of members | async | paginate: { itemsPerPage: 12, currentPage: p}" style="list-style: none;" class="row col-10 justify-content-center">
        <li>
          <app-user-card [user]="user" [userLogged]="userLogged"></app-user-card>
        </li>
    </ul>

</div>
<div class="text-center row">
  <div class="col-1"></div>
  <pagination-controls class="mt-3 col-10" (pageChange)="p = $event"></pagination-controls>
  <div class="col-1"></div>
</div>
